
.logincard{
  margin:auto;
  width: 50%;
}


.mainTitle{
  color: rgb(24, 75, 95) !important;
}

.title {
  color: white !important;
  text-shadow: 2px 2px 4px #000000;
}

nav{
  font-size: 24px !important;
}

body{
  background-color: rgb(24, 75, 95) !important;
}

.docTable{
  color: 'white';
  text-shadow: '2px 2px 4px #000000';
  transition: transform .2s;
}

.docTable:hover{
  transform: scale(1.05)
}

.buttonZoom{
  transition: transform .2s;
}

.buttonZoom:hover{
  transform: scale(1.25);
  color: white;
}

.unread{
  background-color: rgb(189, 220, 229);
}